@model List<ClassLibrary_RepositoryDLL.Entities.CartItem>
@*@inject ClassLibrary_RepositoryDLL.Services.ICartItemService cartService*@

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    double? total =0;
}
<div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">

                        @if (Model.Count > 0)
                        {
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Sản Phẩm</th>
                                        <th>Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Thành Tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                @foreach (var cartitem in Model)
                                {
                                    var multiplyQuantity = cartitem.Quantity * cartitem.Book.Price;
                                    total += multiplyQuantity;
                                    <tbody class="align-middle">
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="~/Home/ProductDetail/@cartitem.Book.Id"><img src="~/image/@cartitem.Book.Image" alt="Image"></a>
                                                    <p>@cartitem.Book.Bookname</p>
                                                </div>
                                            </td>
                                            <td>@cartitem.Book.Price</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="1">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td>@(cartitem.Book.Price*cartitem.Quantity)<span>.000đ</span></td>
                                            <td><a asp-action="RemoveCartItem" asp-route-id="@cartitem.BookId."><i class="fa fa-trash"></i></a></td>
                                        </tr>

                                    </tbody>
                                }
                            </table>
                        }
                    </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                        <input type="text" placeholder="Mã Giảm Giá">
                                        <button>Nhập</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                @foreach (var cartitem in Model)
                                {
                                    <div class="cart-summary">
                                         
                                        <div class="cart-content">
                                            <h1>Tổng Thanh Toán</h1>
                                            <p>Thành Tiền: @(cartitem.Book.Price*cartitem.Quantity).000đ</p>
                                            <h2>Tổng Tiền: @total.000đ</h2>
                                        </div>
                                        <div class="cart-btn">
                                             <a asp-action="UpdateCart" asp-route-id="@cartitem.BookId" class="btn btn-success">Cập Nhật</a>
                                             <a asp-controller="Home" asp-action="Checkout" class="btn btn-success">Checkout</a>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>